{% extends "base.html" %}
{% load static %}

{% block main %}


    <div class="row">
        <form class="col s12" action="#" method="#" id="addtodoio">
        {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea" name="todo_name"></textarea>
              <label for="textarea1">TODO LIST</label>
            </div>
          </div>

          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
    </div>


    <ul id="messages"></ul>

    {% if todos %}
        <div>
            <ul>
                {% for todo in todos %}
                    <li>{{ todo.name }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock main%}

